# Backend Configuration
NODE_ENV=development
PORT=5000

# Database
DATABASE_URL=postgresql://aceuser:acepass@postgres:5432/acedb

# Redis
REDIS_URL=redis://redis:6379

# JWT Authentication (doit être identique à CTFd pour SSO)
JWT_SECRET=changez-moi-en-production
JWT_EXPIRES_IN=7d

# # Email Configuration
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=your-email@gmail.com
# SMTP_PASS=your-app-password
# SMTP_FROM=ACE Escape Game <noreply@ace-escapegame.com>


# Email - Mailtrap
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=22525
SMTP_USER=557fcaec720df7
SMTP_PASS=77838b042925d3
SMTP_FROM=ACE 2025 <noreply@ace.com>

# Frontend URL
FRONTEND_URL=http://localhost:3000

# Admin Configuration
ADMIN_EMAIL=admin@ace-escapegame.com
ADMIN_PASSWORD=Admin123!ChangeMoi
# Hash bcrypt fixe du mot de passe admin (généré avec: node -e "require('bcryptjs').hash('YourPassword', 10).then(console.log)")
ADMIN_HASH=

# CTFd Webhook Configuration
CTFD_WEBHOOK_URL=http://ace-ctf-platform-ctfd-1:8000/api/registration-sync/webhook
WEBHOOK_SECRET=changeme_webhook_secret
