@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f2f9;
  --foreground: #1a187d;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
